<!DOCTYPE html>
<html>

<head>
    <link href="{{url_for('static',filename='main.css')}}" rel="stylesheet">
</head>

<body>
    <form action="{{url_for('home')}}" method="get">
        <div class="main">
            <h1>Iris Flower Prediction</h1>
            <div class="a">
                <p>Enter Sepal Length :</p>
                <input type="number" name="slenth" required step="0.01">
            </div>
            <div class="a">
                <p>Enter Sepal Width :</p>
                <input type="number" name="swidth" required step="0.01">
            </div>
            <div class="a">
                <p>Enter Petal Length :</p>
                <input type="number" name="plenth" required step="0.01">
            </div>
            <div class="a">
                <p>Enter Petal Width</p>
                <input type="number" name="pwidth" required step="0.01">
            </div>
            <div class="b">
                <button type="submit" name="sub"> Submit</button>
            </div>
            {% if name %}
            <p>flower is : {{name}}</p>
            {% endif %}
    
        </div>
    </form>
</body>

</html>